@model List<ThePerfumeShop.Models.DataView.DanhSachHoaDon>

@{
    ViewData["Title"] = "Danh sách hóa đơn";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Danh sách hóa đơn</strong>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên khách hàng</th>
                    <th>Ngày đặt</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaHd</td>
                            <td>@item.TenKh</td>
                            <td>@String.Format("{0:MM/dd/yyyy}",item.Thoigian)</td>
                            <td>@String.Format("{0:0,0}", item.Thanhtien) VND</td>
                        </tr>
                    }
            </tbody>
            </table>
        }
        else
        {
            <h4>Chưa có bản ghi nào</h4>
        }
    </div>
</div>


