<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @*<li class="active">
                    <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>*@
                <li>
                    <a href="/nhanvien/index"> <i class="menu-icon fa fa-users"></i>Nhân viên</a>
                </li>
                <li>
                    <a href="/khachhang/index"> <i class="menu-icon fa fa-user-tie"></i>Khách hàng</a>
                </li>
                <li>
                    <a href="/kho/index"> <i class="menu-icon fa  fa-boxes-stacked"></i>Kho</a>
                </li>
                <li>
                    <a href="/hoadon/index"> <i class="menu-icon fa fa-receipt"></i>Hóa đơn</a>
                </li>
                <li>
                    <a href="/nhacungcap/index"> <i class="menu-icon  fa fa-building"></i>Nhà cung cấp</a>
                </li>
                <li>
                    <a href="/sanpham/index"> <i class="menu-icon fa fa-bottle-droplet"></i>Sản phẩm</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>