@model ThePerfumeShop.Models.DataView.ThemKho
@{
    ViewData["Title"] = "Thêm kho";
}

<div class="card">
    <div class="card-header"><strong>Thêm kho</strong></div>
    <div class="card-body card-block">
        <form action="/kho/create" method="post" asp-antiforgery="true">
            <div class="form-group">
                <label for="Diachi" class=" form-control-label">Địa chỉ kho</label>
                <input type="text" name="Diachi" class="form-control">
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <select asp-for="MaCh" class="form-control"
                                asp-items="@ViewBag.CuaHang">
                            <option>--Tên cửa hàng--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a href="/kho" class="btn btn-outline-primary mt-4"><i class="fa fa-arrow-left"></i> &nbsp; Trở về</a>
                <input type="submit" name="submit" class="btn btn-info mt-4" value="Thêm" />
            </div>
        </form>
    </div>
</div>