@model List<ThePerfumeShop.Models.DataView.DanhSachKho>

@{
    ViewData["Title"] = "Danh sách kho";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Danh sách kho</strong>
        <a type="button" href="/kho/create" class="card-title btn btn-info float-right">Thêm kho</a>
    </div>
    <div class="card-body">

        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Địa chỉ</th>
                        <th>Cửa hàng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaKho</td>
                            <td>@item.Diachi</td>
                            <td>@item.TenCh</td>
                            <td>
                                <a href="/kho/danhsachtonkho/@item.MaKho" class="btn btn-sm btn-info"><i class="fa fa-box"></i></a>
                                <a href="/kho/edit/@item.MaKho" class="btn btn-sm btn-info"><i class="fa fa-pen-to-square"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
        }
        else
        {
            <h4>Chưa có bản ghi nào</h4>
        }
    </div>
</div>


