@model List<ThePerfumeShop.Models.Kho>

@{
    ViewData["Title"] = "Danh sách kho";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Danh sách kho</strong>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Địa chỉ</th>
                        <th>Cửa hàng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaKho</td>
                            <td>@item.Diachi</td>
                            <td>@item.MaCh</td>
                        </tr>
                    }
                </tbody>
        </table>
        }
        else
        {
            <h4>Chưa có bản ghi nào</h4>
        }
    </div>
</div>


