@model List<ThePerfumeShop.Models.NhaCungCap>

@{
    ViewData["Title"] = "Danh sách nhà cung cấp";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Danh sách nhà cung cấp</strong>
        <a type="button" href="/NhaCungCap/Create" class="card-title btn btn-info float-right">Thêm nhà cung cấp</a>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tên nhà cung cấp</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaNcc</td>
                            <td>@item.TenNcc</td>
                            <td>@item.Sdt</td>
                            <td>@item.Diachi</td>
                            <td>
                                <a href="/nhacungcap/edit/@item.MaNcc" class="btn btn-sm btn-info"><i class="fa fa-pen-to-square"></i></a>
                                <a href="/nhacungcap/delete/@item.MaNcc" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
        }
        else
        {
            <h4>Chưa có bản ghi nào</h4>
        }
    </div>
</div>


