@model NhanVien
@{
    ViewData["Title"] = "Thêm nhà cung cấp";
}

<div class="card">
    <div class="card-header"><strong>Thêm nhà cung cấp</strong></div>
    <div class="card-body card-block">
        <form action="/nhacungcap/create" method="post" asp-antiforgery="true">
            <div class="form-group">
                <label for="TenNv" class=" form-control-label">Tên nhà cung cấp</label>
                <input type="text" name="TenNv" class="form-control">
                <span asp-validation-for="TenNv" class="text-danger"></span>
                <div class="form-group">
                    <label for="Sdt" class=" form-control-label">Số điện thoại</label>
                    <input type="text" name="Sdt" class="form-control">
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Diachi" class=" form-control-label">Địa chỉ</label>
                    <input type="text" name="Diachi" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Gioitinh" class=" form-control-label">Giới tính</label>
                    <select class="form-control" name="Gioitinh">
                        <option value="Nam">Nam</option>
                        <option value="Nu">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <a href="/nhacungcap" class="btn btn-outline-primary mt-4"><i class="fa fa-arrow-left"></i> &nbsp; Trở về</a>
                    <input type="submit" name="submit" class="btn btn-info mt-4" value="Thêm" />
                </div>
        </form>
    </div>
</div>